(iocaine) {
	@read method GET HEAD
	reverse_proxy @read 127.0.0.1:42069 {
		@fallback status 421
		handle_response @fallback
	}
}

soliprem.eu {
	root * /var/www/soliprem
	file_server
	handle_path /.well-known/matrix/server {
		header Content-Type application/json
		header Access-Control-Allow-Origin *
		respond `{"m.server": "matrix.soliprem.eu:443"}`
	}

	handle_path /.well-known/matrix/client {
		header Content-Type application/json
		header Access-Control-Allow-Origin *
		respond `{"m.homeserver":{"base_url":"https://matrix.soliprem.eu"},"org.matrix.msc4143.rtc_foci":[{"type":"livekit","livekit_service_url":"https://livekit.soliprem.eu"}]}`
	}
}

silksong-journal.soliprem.eu {
	import iocaine
	encode zstd gzip
	handle /api/* {
		reverse_proxy 127.0.0.1:3100
	}

	handle {
		root * /var/www/silksong-aa
		file_server
	}
}

matrix.soliprem.eu, matrix.soliprem.eu:8448 {
	import iocaine
	reverse_proxy 127.0.0.1:6167
}

livekit.soliprem.eu {
	import iocaine

	@lk-jwt-service path /sfu/get* /healthz* /get_token* /sfu_webhook*
	route @lk-jwt-service {
		reverse_proxy 127.0.0.1:8081
	}

	reverse_proxy 127.0.0.1:7880
}

immich.soliprem.eu {
	import iocaine
	reverse_proxy localhost:2283
}

files.soliprem.eu {
	import iocaine
	reverse_proxy localhost:8182
}

send.soliprem.eu {
	import iocaine
	@protected {
		path / /upload /api/upload* /api/send*
	}
	basic_auth @protected {
		admin {$SEND_BASIC_AUTH_HASH}
	}
	reverse_proxy localhost:1234
}

al.soliprem.eu {
	import iocaine
	@frontend {
		not path /media* /admin* /static* /accounts*
	}
	reverse_proxy @frontend localhost:8015

	reverse_proxy localhost:8016
}

adventurelog.soliprem.eu {
	redir https://al.soliprem.eu{uri} permanent
}

nextcloud.soliprem.eu nc.soliprem.eu {
	redir https://nc2.soliprem.eu{uri} permanent
}

nc2.soliprem.eu {
	import iocaine
	reverse_proxy localhost:11000
}

vw.soliprem.eu {
	import iocaine
	reverse_proxy localhost:11001
}

nv.soliprem.eu {
	import iocaine
	reverse_proxy localhost:4533
}

memos.soliprem.eu {
	import iocaine
	reverse_proxy localhost:5230
}

foundry.soliprem.eu {
	import iocaine
	reverse_proxy localhost:30000
}

picsur.soliprem.eu {
	import iocaine
	reverse_proxy localhost:31416
}

waka.soliprem.eu {
	import iocaine
	reverse_proxy localhost:3000
}

hr.soliprem.eu {
	redir https://hoarder.soliprem.eu{uri} permanent
}

hoarder.soliprem.eu {
	reverse_proxy localhost:60221
}

mail.soliprem.eu autodiscover.soliprem.eu autoconfig.soliprem.eu {
	import iocaine
	log {
		output file /var/log/caddy/mail.soliprem.eu.log {
			roll_disabled
			roll_size 512M
			roll_uncompressed
			roll_local_time
			roll_keep 3
			roll_keep_for 48h
		}
	}

	reverse_proxy 127.0.0.1:8080
}
