// colors.kdl
layout {
    focus-ring {
        // These will merge with the 'width' and 'off' settings in your main config
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
        
        // Remove gradients if you want pure flat colors from the template
        // active-gradient off 
        // inactive-gradient off
    }

    border {
        off
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
    }
}
