// colors.kdl
layout {
    focus-ring {
        // These will merge with the 'width' and 'off' settings in your main config
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
        
        // Remove gradients if you want pure flat colors from the template
        // active-gradient off 
        // inactive-gradient off
    }

    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface.default.hex}}"
    }
}
border {
    // The settings are the same as for the focus ring.
    // If you enable the border, you probably want to disable the focus ring.
    off

    width 4
    active-color "#ffc87f"
    inactive-color "#505050"

    // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
    // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
}
